# Plik przykładowy konfiguracji środowiskowej.
# Skopiuj ten plik i zmień jego nazwę na .env.local (lub .env), 
# a następnie uzupełnij poniższe zmienne danymi ze swojego projektu Firebase.
# Ponieważ używasz Create React App (CRA), prefiks REACT_APP_ jest Wymagany!

REACT_APP_FIREBASE_API_KEY=
REACT_APP_FIREBASE_AUTH_DOMAIN=
REACT_APP_FIREBASE_PROJECT_ID=
REACT_APP_FIREBASE_STORAGE_BUCKET=
REACT_APP_FIREBASE_MESSAGING_SENDER_ID=
REACT_APP_FIREBASE_APP_ID=
